:root {
    --body: #f8f8f8;
    --card-bg-color: #ffffff;
    --card-shadow-color: #dbdbdbb4;
    --text-primary-color: #555555;
    --text-secondary-color: #afafaf;
    --navbar-menu-link-active: #9496ff;
    --btn-main-color: #7075f5;
    --card-secondary: #6267e9;
    --card-secondart-text: #fafafa;
    --card-secondart-text2: #ebebec;
}