:root {
    --body: #15121b;
    --card-bg-color: #211c25;
    --card-shadow-color: #dbdbdb00;
    --text-primary-color: #f5f5f5;
    --text-secondary-color: #dfdfdf;
    --navbar-menu-link-active: #9496ff;
    --btn-main-color: #1f1f2c;
    --card-secondary: #f1f1f1;
    --card-secondart-text: #15151a;
    --card-secondart-text2: #313133;
}